.search-form button {
  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 8px;
  background: #4e75ff;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery-item {
  list-style-type: none;
  list-style-position: inside;
  border: 1px solid black;
}

.gallery-image:hover {
  transition: 500ms linear;
  transform: scale(1.044444);
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.tags {
  width: 360px;
}

table {
  width: 360px;
  padding-left: 5px;
  text-decoration: none;
}

th,
td {
  text-align: center;
  color: black;
  text-decoration: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: none;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
